<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

    <head>
        <title>Reverie Translator</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <script type="text/javascript" src="{% static "js/style.js" %}"> </script>

    </head>
    <body>
        <center>
<!--            <h1> Reverie Language Technologies </h1>    -->
            <img src="{% static "images/reverie.png" %}" alt="Reverie Logo" />

            <form action="" method="get">
                <input placeholder="Enter Text to Translate" type="text" name="search">
                <input type="submit" value="Translate">
            </form>

            {% if result %}
                <p>
                    You searched for: {{search}}
                </p>

                <table>
                    <tr>
                        <th>
                            Translation
                        </th>
                        <th>
                            Translation Score
                        </th>
                    </tr>
                    <tr>
                        {% for translation, score in result %}
                            <tr>
                                <td>
                                    {{ translation }}
                                </td>
                                <td>
                                    {{ score }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>

             {% else %}
                <p>
                    You submitted an empty form.
                </p>
            {% endif %}
        </center>

        <a href="javascript:;" onclick=show()>
            Request for JSON
        </a>
        <div id="expand">
            <pre>
                {{raw_json}}
            </pre>
        </div>

    </body>
</html>


<!--


<form method="GET">
    Question: <input type="text" name="search"><br/>
    Name: <input type="text" name="name"><br/>
    <input type="submit" value="Submit" />
</form><br/><br/>


<p>{{questions}}</p>

-->
